/* Frontend Mentor Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* 
*Global
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
body {
  background: hsl(204, 43%, 93%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  color: hsl(179, 62%, 43%);
}

h3 {
  color: hsl(71, 73%, 54%);
}

h2,
h3,
h4 {
  margin: 10px 0;
  font-weight: 700;
}

p {
  margin: 10px 0;
}

li {
  list-style: none;
  color: hsla(203, 44%, 93%, 0.5);
}

.lighter-grey {
  color: hsla(203, 44%, 93%, 0.5);
}

/* 
Styles
*/

.info {
  background: #fff;
  padding: 20px;
}

.info p {
  color: hsl(218, 22%, 67%);
  line-height: 1.75;
}

.subscription {
  padding: 25px;
  background: hsl(179, 63%, 36%);
}

.subscription .btn {
  text-align: center;
}
.subscription button {
  background: hsl(71, 73%, 54%);
  padding: 3% 30%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.info-price {
  display: flex;
  align-items: center;
}

.info-price .price {
  font-size: 2rem;
  padding-right: 5px;
}

.why-us {
  padding: 20px;
  background: hsl(179, 62%, 43%);
}

@media (min-width: 600px) {
  .container {
    width: 600px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto auto;
  }

  .info {
    grid-column: 1 / span 2;
  }
  .subscription {
    grid-row: 2/2;
  }
  .why-us {
    grid-row: 2/2;
  }
}
